@font-face {
    font-family: 'Burbank';
    src: url('./../fonts/Burbank.otf');
}

body {
    font-family: 'Burbank', Helvetica, Arial, sans-serif;
    background: rgb(50, 117, 175);
    margin: 0 560px;
}

section#data-block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%; 

    text-shadow: 3px 3px 35px rgba(0, 0, 0, 0.75);
    color: rgb(254, 255, 251); }

    section#data-block * {
        -webkit-font-smoothing: antialiased;
    }

    section#data-block header {
        font-size: 12vw;
    }

    section#data-block article {
        font-size: 20vw;
        margin-top: 5px;
    }

    #app {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; 
        width: 100%;
        height: 100%;
    }    

    section#link {
        color: inherit;
        font-size: 32px;
        margin: 25px;
        height: 32px; }

        section#link a {
            color: inherit; 
            transition: 0.25s; }

            section#link a:hover {
                color: inherit;
                font-size: 33px;
            }

    section#homepage {
        background: url('./../img/bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        position: absolute;
        margin: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%; 

        text-shadow: 3px 3px 35px rgba(0, 0, 0, 0.75);
        color: rgb(254, 255, 251); }

        section#homepage > header {
            color: rgb(254, 255, 251);
            font-size: 72px;
        }

    input#username {
        font-family: inherit;
        font-size: 42px;
        color: inherit;
        text-align: center;
        margin-top: 10px;
        padding: 10px 25px;
        background: 0;
        border: 0;
        border-bottom: 2px solid rgb(254, 255, 251);
        outline: 0; }

        input#username::placeholder {
            color: rgb(210, 210, 210);
        }

        input#username::-ms-input-placeholder {
            color: rgb(210, 210, 210);
        }

        input#username:-ms-input-placeholder {
            color: rgb(210, 210, 210);
        }
    
footer {
    color: inherit;
    font-size: 24px; }

    footer a {
        color: inherit;
    }