<template>
  <section id="homepage">
    <header>Fortnite Stats Overlay</header>
    <input id="username" placeholder="Epic Username" v-model="username" maxlength="20" autocomplete="off">
    <section id="link">
      <a :href="url" target="_blank">{{ url }}</a>
    </section>
    <footer>Created using <a href="https://fortnitetracker.com" target="_blank">
      Fortnite Tracker</a> API
    </footer>
  </section>
</template>

<script>
  export default {
    name: 'Homepage',

    data () {
      return {
        username: '',
        url: ''
      }
    },

    watch: {
      username () {
        this.url = this.username.length > 0
          ? window.location.href + this.username : ''
      }
    }
  }
</script>