<template>
  <section id="data-block">
    <header>{{ header }}</header>
    <article>{{ content }}</article>
  </section>
</template>

<script>
  import ResponseTransformer from '../helpers/ResponseTransformer'
  import API from '../gateway/api'

  export default {
    name: 'Statistics',
    props: ['translator'],

    data () {
      return {
        response: {},

        // Frontend data
        header: null,
        content: null,

        // Data from URL
        username: null,
        speed: 0,

        // Interval vars
        interval: null,
        currentIndex: 0
      }
    },

    async created () {
      this.header = this.translator.translate('Loading')
      this.speed = this.$route.query.speed || 5000
      this.username = this.$route.params.username

      this.response = await API.get(`/v1/profile/pc/${this.username}`)

      if (!this.response.isValid()) {
        this.header = this.translator.translate(this.response.error)
        return
      }

      this.translate()
      this.start()
    },

    methods: {
      start () {
        this.next()
        this.interval = setInterval(this.next, this.speed)
      },

      next () {
        const current = this.getCurrent()

        this.header = current.key
        this.content = current.value
      },

      getCurrent () {
        const stats = this.response.data.lifeTimeStats

        if (++this.currentIndex === stats.length) {
          this.currentIndex = 0
        }

        return stats[this.currentIndex]
      },

      translate () {
        let collection = ResponseTransformer.prepareForTranslation(this.response)
        this.translator.translateMany(collection)

        ResponseTransformer.mergeTranslations(this.response, collection)
      }
    }
  }
</script>
