<template>
  <div id="app">
    <router-view :translator="translator"></router-view>
  </div>
</template>

<script>
  export default {
    name: 'app',

    data () {
      return {
        translator: this.$root.$options.translator
      }
    }
  }
</script>